
  #app-jumbo{
    padding-top: 10vh;
    padding-top: calc(var(--vh, 1vh) * 10);
    padding-bottom: 30vh;
    padding-bottom: calc(var(--vh, 1vh) * 30);
  }

  #logo{
    display: block;
    margin: auto;
  }

  #start_button{
    margin: 40px 5px;
  }
  