{% extends "navbar_template.html" %}
{% block head %}
        {{ super() }}
        <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block content %}
            <img src="/static/images/IbreW_logo.png" id="logo">
            <h2 class ="index-subtitle">About</h2>
            <p><strong>IbreW</strong> is a command-line application, developed at Infinity Works.</p>
            <p>It is to be used to start brew rounds.</p>
            <p>It is developed by <strong>Klaudijus 'Klaud' Rulys</strong></p>
{% endblock %}