<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/test.css">
        <script src="/static/scripts/input_validation.js"></script>
    </head>
<form id="add-person-form"  method="post">
    <legend>Add new person:</legend>
    <br>

    <label for="person-name">Name:</label>
    <input id="person-name" type="text" name="person-name" />
    
    <br>
    <label for="person-team">Team:</label>
    <input id="person-team" type="text" name="person-team" />
    
    <br>
    <input onclick="doInputValidation(event)"id="submit-btn" type="submit" value="Submit">
    
    <br>
    <p class="invisible" id="form_error_msg">Invalid name and/or team</p>
</form>