{% extends "navbar_template.html" %}
{% block head %}
        {{ super() }}
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="/static/scripts/index.js"></script>
{% endblock %}
{% block content %}
        <div class="jumbotron jumbotron-fluid bg-baltic-sea " id="index-jumbo" style="background-image: linear-gradient(#17151c, #282430);">
            <div class="container text-center">
            <img src="/static/images/IbreW_logo_dark.png" id="logo" class="col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6">
            <button type="button" onClick="handleWhatIsButton()" class="btn btn-primary" id="what_is_button">What is IbreW?</button>
            </div>
        </div>

        <h2 class ="index-subtitle" id="what_is_it">What is it?</h2>
        <p><strong class="keyword">IbreW</strong> is a command-line application, developed at Infinity Works.</p>
        <p>It is to be used to start brew rounds.</p>
        <p>It is developed by <strong class="keyword">Klaudijus 'The Klaud' Rulys</strong></p>

        <h2 class ="index-subtitle">How does it look?</h2>
        <span class="text-center"><p> As every product from the great minds of <strong class="keyword">Infinity Works</strong> it looks <strong>PERFECT</strong></p></span>
        
            <div class="container">
                <div class="row">
                    <div class="card  col-sm-12 col-md-5 offset-md-1  bg-outer-space">
                        <img src="/static/images/Screenshot1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text text-center">Full arrow key control support!</p>
                        </div>
                    </div>
                    <div class="card  col-sm-12 col-md-5 offset-md-1 bg-outer-space">
                            <img src="/static/images/Screenshot2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text text-center">People sub-menu!</p>
                            </div>
                    </div>
                    <div class="card col-sm-12 col-md-5 offset-md-1 bg-outer-space">
                            <img src="/static/images/Screenshot3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text text-center">Drinks sub-menu!</p>
                            </div>
                    </div>
                </div>
            </div>
    
{% endblock %}